<div class="jingtai">
  <div class="header">
    <img class="img1" src="../assets/images/banner.jpg" alt="" />
    <div class="big clearfix">
      <img src="../assets/images/person.jpg" alt="" />
      <div class="small">
        <i></i>
      </div>
    </div>
  </div>
  <div class="tex">
    <h1>HI 张大山</h1>
    <span>等级：2</span>
    <span>积分：33</span>
    <span>金币：5</span>
  </div>
  <div class="main clearfix">
    <ul>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          评论
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          收藏
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          优惠券
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          爆料
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          投稿
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img"></div>
          消息
        </a>
      </li>
    </ul>
  </div>
  <div class="sit">
    <p>常用设置</p>
    <ul>
      <li>
        <span class="one">
          <i></i>
        </span>
        <div class="two">
          评论设置
          <span class="three"></span>
        </div>
      </li>
      <li>
        <span class="one">
          <i></i>
        </span>
        <div class="two">
          收藏设置
          <span class="three"></span>
        </div>
      </li>
      <li>
        <span class="one">
          <i></i>
        </span>
        <div class="two">
          消息推送设置
          <span class="three"></span>
        </div>
      </li>
    </ul>
  </div>
  <footer>
    <ul>
      <li>
        <a href="javascript:;">
          <div class="img1"></div>
          首页
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img1"></div>
          商品百科
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img1"></div>
          订阅
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="img1"></div>
        </a>
      </li>
    </ul>
  </footer>
</div>
