/*--------------------------初始化代码*/
/*清除默认的margin和padding*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/*清除小圆点*/
ul {
  list-style: none;
}
/*清除a标签默认的下划线*/
a {
  text-decoration: none;
}
/*表格边框合并*/
table {
  border-collapse: collapse;
}
/*去除input标签点击之后的出现的轮廓线*/
input {
  outline-style: none;
}
/*进制textarea标签的自由缩放*/
textarea {
  resize: none;
}
/*双伪元素清除法（清除浮动和解决塌陷，给父元素加）*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
/* 兼容 IE 67 */
.clearfix {
  *zoom: 1;
}
/*单行省略号：需要用的时候直接在对应的盒子上加上类即可*/
.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*左浮动*/
.fl {
  float: left;
}
/*右浮动*/
.fr {
  float: right;
}
/*……………………方便视图，最后删除啊*/
